<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../node_modules/w3-css/3/w3.css">
    <link rel="stylesheet" href="../css/estilo.css">

</head>
<body class="w3-container w3-padding mais-espaco">
    
    <header class="w3-green w3-padding w3-round">
        <h1 class="w3-center">Departamento Administrativo</h1>
    </header>
    <form action="" method="POST" class="w3-display-container">       
        <fieldset>
            <legend>Cadastro Cliente</legend>
            <div class="w3-panel">
                <label for="nome">Nome:</label>
                <input type="text" name="nome" id="nome" class="w3-input" placeholder="Digite seu nome" required>
            </div>
            
                <div class="w3-panel">
                <label for="telefone">Telefone:</label>
                <input type="tel" name="telefone" id="telefone" placeholder="(DDD) XXXXX-XXXX"  class="w3-input" required>
                </div>

                <div class="w3-padding">
                    <div class="w3-display-bottomright">
                        <input type="submit" class="w3-green w3-round w3-btn" value="Cadastrar">
                </div>
                </div>
        </fieldset>
    </form>

    </body>
</html>