<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../node_modules/w3-css/3/w3.css">
    <link rel="stylesheet" href="../css/estilo.css">

</head>

<body class="w3-container w3-padding mais-espaco">

    <header class="w3-green w3-padding w3-round">
        <h1 class="w3-center">Departamento Administrativo</h1>
    </header>
    <div>
        <h2>Listagem de Placas</h2>
        <form action="" method="POST">
            <label>Nome do Cliente:</label>
            <select>
                <option value="cidade">Cu</option>
                <option value="cidade">Cu</option>
                <option value="cidade">Cu</option>
                <option value="cidade">Cu</option>
            </select>

            <label for="nome">Nome:</label>
            <input type="text" name="nome" id="nome">

            <label for="telefone">Telefone:</label>
            <input type="number" name="telefone" id="telefone" placeholder="(DDD) XXXXX-XXXX" required>

            <input type="submit" value="Alterar">
        </form>
    </div>
</body>

</html>