<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../node_modules/w3-css/3/w3.css">
    <link rel="stylesheet" href="../css/estilo.css">

</head>
<body class="w3-container w3-padding mais-espaco">
    
    <header class="w3-green w3-padding w3-round">
        <h1 class="w3-center">Departamento Administrativo</h1>
    </header>
    <div>
        <h2>Gerenciamento de Clientes</h2>
        <form action="" method="POST">   
            <input type="search" name="pesquisar" id="pesquisar" placeholder="Pesquisar cliente" required>
            <input type="submit" value="Pesquisar">
        </form>

        <table class="w3-table-all">
            <tr class="w3-green">
                <td>Cliente</td>
                <td>Frase</td>
                <td>Cálculo Final</td>
            </tr>
            <tr>
                <td>321312</td>
                <td>dsadas</td>
                <td>4112421</td>
            </tr>
            <tr>
                <td>321312</td>
                <td>dsadas</td>
                <td>4112421</td>
            </tr>
            <tr>
                <td>321312</td>
                <td>dsadas</td>
                <td>4112421</td>
            </tr>
        </table>
    </div>
</body>
</html>