<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../node_modules/w3-css/3/w3.css">
    <link rel="stylesheet" href="../css/estilo.css">

</head>

<body class="w3-container w3-padding mais-espaco">

    <header class="w3-green w3-padding w3-round">
        <h1 class="w3-center">Departamento Administrativo</h1>
    </header>
    <div>
        <h2>Listagem de Placas</h2>
        <form action="" method="POST">
            <label>Nome do Cliente - Placa</label>
            <select>
                <option value="cidade">Cu-ldsa-41321</option>
                <option value="cidade">Cu-ldsa-41321</option>
                <option value="cidade">Cu-ldsa-41321</option>
                <option value="cidade">Cu-ldsa-41321</option>
            </select>

            <label for="altura">Altura</label>
            <input type="number" id="altura" name="altura">

            <label for="largura">Largura</label>
            <input type="number" id="largura" name="largura">

            <label for="frase">Frase:</label>
            <input type="text" id="frase" name="frase">

            <label for="cor_texto">Cor Texto</label>
            <select class="w3-select" required>
                <option value="">Selecione</option>
                <option value="preto">Preto</option>
                <option value="">Verde</option>
                <option value="">Vermelho</option>
                <option value="">Amarelo</option>
                <option value="">Azul</option>
            </select>

            <label for="cor_fundo">Cor Fundo</label>
            <select class="w3-select" required>
                <option value="">Selecione</option>
                <option value="">Branca</option>
                <option value="">Cinza</option>
            </select>
            </select>

            <input type="submit" value="Alterar">
        </form>
    </div>
</body>

</html>